.btn {
    padding: 25px 20px 10px 10px;
    border-radius: 5px;
    background-color: $white;
    color: $black;
    border: 2px solid $black;
    letter-spacing: 0.5px;
    transition: background-color 0.2s ease-in-out;
    font-weight: bold;
    text-transform: uppercase;
    &:hover {
        background-color: $black;
        color: $white;
    }
}

.send_msn-btn {
    padding: 15px 30px;
    background-color: $white;
    color: $black;
    // &:hover {
    //     background-color: $black;
    //     color: $black;
    // }
}

@include tablet {
    .btn {
        padding: 0px 15px 0 0px;
        border-radius: 5px;
        background-color: $white;
        color: $black;
        border: 2px solid $black;
        letter-spacing: 0.5px;
        transition: background-color 0.2s ease-in-out;
        font-weight: bold;
        text-transform: uppercase;
        &:hover {
            background-color: $black;
            color: $white;
        }
    }
    .send_msn-btn {
        font-size: 14px;
        padding: 10px 20px 6px;
    }

}

@include mobileS {
    .send_msn-btn {
        font-size: 12px;
        padding: 8px 15px 5px;
    }
}
