#page5{
  height: $height;
   width: $width;
   background-color:#3a86ff;
}

// #page1 {
//     height: $height;
//     width: $width;
//     // background-color:#6070FC;
//     background-color: #fff;
//     // background: radial-gradient(#e66465, #9198e5);
//   //   background: radial-gradient(#fff, #D94546);
//   background: radial-gradient(#fff, #dfdddd);
//     position: relative;
//   }
  
//   #s1 {
//     // margin-top: 25%;
//     // height: 75%;
//     height: 100%;
//     width: 100%;
//     position: absolute;
//   }
  
//   #s-bg {
//     //   position: fixed;
//     //   top: 0;
//     //   left: 0;
//     //   right: 0;
//     //   opacity: .15;
//     height: 100%;
//     width: 100%;
//     position: absolute;
//     // @include tablet {
//     //   height: 100%;
//     //   width: 100%;
//     //   position: absolute;
//     // }
//   }
  
// //   .display{
// //       border: 5px solid #D94546;
// //       background-color: rgba(#D94546, .8);
// //       padding:20px 100px;
// //       font-size: 4rem;
// //       color: $white;
// //     // position: absolute;
// //     // left: 50%;
// //     // top: 50%;
// //     // transform: translate(-50%, -50%);
// //     @include tablet {
// //         width: 80%;
// //       font-size: 1rem;
// //       text-align: center;
// //     }
// //   }